@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap%27');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caudex', serif;
    background-color: #7BC0FF;
}

.container{
    min-height: calc(100vh - 270px);
}

.container h1{
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.divInput{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.input{
    width: 40%;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white; 
    outline: none; 
    font-size: 20px;
    color: white;
    margin-top: 50px;
}

.input::placeholder {
    color: white;
}

.btn{
    display: flex;
    width: 70%;
    justify-content: end;
    text-align: center;
    margin-top: 30px;
}

.btnReenviar{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    width:40%;
    border-style: none;
    cursor: pointer;
}

.footer{
    display: flex;
    text-align: center;
    justify-content: center;

}

.linkFooter{
    color: white;
    text-decoration: none;
    font-size: 0.7em;
}